/*ToDo: beautify buttons */
/* Image of balloon/sliding pump? */

body {
  font-family: "Arial Narrow", sans-serif;
}

button {
  font-family: inherit;
  font-size: 14pt;
  border-radius: 12px:
  border: 2px solid green;
}

h2 {
  margin-bottom: 5px;
}

fieldset {
  margin-bottom: 15px;
  width: 50%;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 16px;
  border-color: black;
  position: relative;
}

fieldset, #instructions, #buttons, #ending {
  margin-left: auto;
  margin-right: auto;
  top: 15px;
}

fieldset, #balloon_parts {
  bottom: 10px;
}

body, #score{
  margin: 0px;
}

img {
  vertical-align: bottom;
}

input{
  padding-left: 5px;
  padding-right: auto
}
input::placeholder{
  width: 10px;
}



#score_info, #form, #instructions_title, #balloon_parts, #ending {
  text-align: center;
}

#instructions {
  background-color: WhiteSmoke;
  position: relative;
  text-align: left;
  border: 1px solid #dad9d4;
  margin-bottom: 20px;
  width: 55%;
  padding: 25px;
}

#small_print {
  font-size: 11pt;
}

#buttons {
  display;
  margin-top: 25px;
  width: 15%;
  justify-content: center;

}

#HUD, #balloon_parts {
  position: absolute;
}

#balloon_parts {
  width: 100%;
  bottom: 0;
}

#score {
  font-size: 30pt;
  color: #285C95;
}

#display {
  height: 400px;
  position: relative;
}

#balloon_top {
  width: 75px;
  height: 75px;
  mix-blend-mode: multiply;
}

#HUD {
  width: 280px;
  height: 150px;
  color: white;
  bottom: 25%;
  right: 12.5%;
  font-size: 16pt;
}

#submit_button {
  margin-bottom: 20px;
}

#end_screen {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border: 2px solid red;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
}

#goToAdmin{
  padding: 5px;
  margin: 25px;
}

.hud_paragraph {
  background-color: black;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
}

.hidden {
  display: none;
}

.points{
  color: gold;
}

.showing {
  display: block;
}
